body{
    background-color: rgba(237, 242, 243, 0.624);
}
.password {
    width: 80%;
    margin: 0 auto;
    text-align: center;
    height: 100vh;
    margin-top: 35vh;
}

.password input {
    width: 190px;
    height: 30px;
    background-color: transparent;
    outline: none;
    border: none;
    border: 1px solid #000;
    border-radius: 30px;
    text-align: center;
    border-color: rgb(255, 0, 0);
    font-size: 16px;

}
.text {
    margin-bottom: 10px;
}
.password  button {
    margin-top: 10px;
    width: 130px;
    height: 36px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 16px;
    background-color: #fff;
    border: none;
    border: 2px solid rgb(255, 0, 0);
}